.container-input-log {
    position: relative;
}

.input-log {
 
    outline: none;
    color: var(--text-color-secondary);
    background-color: var(--primary);
    height: 2.75rem;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    padding-left: 2.75rem;
    width: 18.75rem;
    border: 1px solid var(--stroke-color);
}

.input-log:hover{
    border: 1px solid var(--stroke-color-hover);
}

.input-log::placeholder {
    color: var(--placeholder-color);
}

.input-log:hover::placeholder{
    
    color: var(--placeholder-color-hover);
}

.input-log-icon-password, .input-log-icon-email  {
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    margin-left: 15px;
}